<div class="mb-3 p-5">
<h1>Ask you're coach anything:</h1>
  <form action="/answer" data-turbo="false" method="get">
  <input class="form-control w-50" type="text" name="question" placeholder="Type your question here">
  <input type="submit" value="Ask!" class="btn btn-primary my-2">
</form>
</div>
